#bodyy {
    background-image: url('/images/BG3.jpg');
    background-position: 0px 0px;
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
}

.text-crypto-red {
    color: #BB0000;
    font-family: "Ubuntu Mono";
    font-weight: bold;
    text-shadow: 1px 1px #110000;

}

.text-white {
    color: #eeeeee;
    font-family: "Ubuntu Mono";
    font-weight: 500;
}


.text-white-shadow {
    color: #eeeeee;
    font-family: "Ubuntu Mono";
    font-weight: 500;
    text-shadow: 1px 2px #ff0000;
}

.text-red {
    color: #FF0000;
    font-family: "Ubuntu Mono";
    font-weight: 100;
}


li {
  margin-left: 40px;
  list-style-type: circle;
}

.bg-red {
    background-color: #990000;
}

.text-bold-underlined {
    /* text-decoration: underline; */
    font-weight: bold;

}